<div class="plan-assets">
  <div class="plan">
    <div class="plan-text">
      <h3>プランテキスト</h3>
    </div>
    <div class="plan-wrap">
      <div class="plan-price">
        <h3><span class="dollar">¥</span>5,000<br></h3>
        <p class="monthly">月額</p>
      </div>
      <div class="plan-detail">
        <ul class="list">
          <li class="list-item">入会金0円</li>
          <li class="list-item">平日：9時～17時</li>
          <li class="list-item">土日祝：利用ナシ</li>
          <li class="list-item">コアタイムでの利用に最適なプラン</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="plan">
    <div class="plan-text">
      <h3>プランテキスト</h3>
    </div>
    <div class="plan-wrap">
      <div class="plan-price">
        <h3><span class="dollar">¥</span>5,000<br></h3>
        <p class="monthly">月額</p>
      </div>
      <div class="plan-detail">
        <ul class="list">
          <li class="list-item">入会金0円</li>
          <li class="list-item">平日：9時～17時</li>
          <li class="list-item">土日祝：利用ナシ</li>
          <li class="list-item">コアタイムでの利用に最適なプラン</li>
        </ul>
      </div>
    </div>
  </div>
</div>
