@use "../../variables" as *;

.article-assets{
  background-color: $white;
  border: 1px solid $gray_gainsboro;
  article{
    padding: 20px;
    border-bottom: 1px solid $gray_gainsboro;
    &:nth-child(5){
      border: none;
    }
    time{
      font-size: $fontsize-xs;
      color: $gray_nobel;
      margin-bottom: 10px;
    }
    .news-article{
      margin-bottom: 0;
      color: $black;
      text-decoration: none;
      display: block;
    }
  }
}
.news-and-events-more{
  float: right;
  margin-top: 30px;

}