@use "../../variables" as *;

.modBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $fontsize-s;
  color: $white;
  background-color: $black;
  transition: 0.2s ease;
  height: 55px;
  &:hover{
    background-color: $orange_bistre;
  }
  @media (min-width: $breakpoint-lg) {
    width: 200px;
  }
  @media (max-width: $breakpoint-md) {
    width: 180px;
    height: 45px;
  }
  @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
    width: 150px;
  }
}